### UMB Changelog BSD

{{#each releases}}
  {{#if href}}
    #### [{{title}}]({{href}})
  {{else}}
    #### {{title}}
  {{/if}}

   > {{niceDate}}

  {{#each merges}}
    - {{message}}{{#if href}} [`#{{id}}`]({{href}}){{/if}}
  {{/each}}

{{/each}}